---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Header

.site-header {
  border-top: none;
}

// Wrapper

@media screen and (max-width: 1023px) {
  .wrapper {
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .wrapper {
    max-width: 1344px;
    width: 1344px;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;

  &::after {
    display: none;
  }
}

// Posts

@media screen and (max-width: 500px) {
  .post-list {
    flex-direction: column;

    .post-element-wrapper {
      padding: 15px 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: 501px) {
  .post-list {
    flex-direction: row;
    flex-wrap: wrap;

    .post-element-wrapper {
      padding: 0 15px 15px 0;
      width: 33.3%;

      &:nth-child(3n) {
        padding: 0 0 15px 0;
      }
    }
  }
}

.post-list {
  display: flex;
  justify-content: flex-start;

  .post-element-wrapper {
    margin: 0;
    box-sizing: border-box;
  }

  .post-element {
    padding: 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    border-radius: 5px;
  }
}

// Pagination

@media screen and (max-width: 500px) {
  .pagination {
    justify-content: center;
  }
}

@media screen and (min-width: 501px) {
  .pagination {
    justify-content: flex-end;
  }
}

.pagination {
  display: flex;
  flex-direction: row;

  .button {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 10px;
  }

  .previous {
    margin: 0 10px 0 0;
  }
}


// Footer

@media screen and (max-width: 500px) {
  .footer-col-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 501px) {
  .footer-col-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-col-description {
    text-align: right;
  }
}

.footer-col-wrapper {
  display: flex;

  &::after {
    display: none;
  }
}
